github
{
  "createdAt": "2025-06-27T07:33:17.282Z",
  "updatedAt": "2025-06-27T09:40:31.000Z",
  "id": "P8WZI2HREGR86rVI",
  "name": "Github",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "6567f223-a5d5-4e01-87e5-382b7b984066",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -140,
        140
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "id": "7fdda343-de08-4d56-a601-4c3cc5a9b4ee",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        400,
        140
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "PNeUnATREcfvGASq",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "27983bf3-424a-4a6a-bea2-28b61a1ef181",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        180,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "hadiakh1",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/hadiakh1/n8n"
        }
      },
      "id": "a9dcaee3-6b64-4c8b-92ec-eb38e2a23452",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        20,
        140
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "v7Pk3SQpxHQf0jCy",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "hadiakh1",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/hadiakh1/n8n"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "e9d7af2f-7182-4796-80cb-cbf9a3ba22b2",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1360,
        60
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "v7Pk3SQpxHQf0jCy",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "hadiakh1",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/hadiakh1/n8n"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "715be010-3862-4f67-a5e8-43dce751de01",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1360,
        220
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "v7Pk3SQpxHQf0jCy",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "d3893536-2087-41f5-9547-3deab2b9c6fa",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1200,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "0178e296-d39c-44fd-a6b2-bbd1d805be90",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        600,
        140
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "1c19f508-fe9b-4133-9ecf-f821783c4b45",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        880,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "cf1c2ab1-64b8-433a-9aee-be7522be5faf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "88191ca0-a142-495c-bfd9-b3993730e3e2",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1040,
        140
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "ad5afc3e-bae7-4255-84fd-0a9360418399",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "062af535-f509-4322-b0b1-bc8fea8b32fd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "de772793-429b-474a-98e0-2aea86f7b3da",
  "triggerCount": 1,
  "tags": []
}