promt-chaining-.json
{
  "createdAt": "2025-06-23T07:22:25.245Z",
  "updatedAt": "2025-06-25T06:24:26.000Z",
  "id": "EKIeq9YH6CPnyq7X",
  "name": "Promt chaining",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the topic to write a blog about: {{ $json. body.message}}",
        "options": {
          "systemMessage": "You are an expert outline writer. Your job is to generate a structured outline for a blog post with section titles and key points."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -120,
        -80
      ],
      "id": "84d94a95-aaf2-4647-8ef9-0893701b0557",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the outline:\n{{ $json.output }}",
        "options": {
          "systemMessage": "#overview\nYou are an expert b log evaluator.Revise this outline and ensure it covers the following key criteria:\n(1) Engaging Introduction\n(2) Clear section breakdown\n(3) Logical flow\n(4) Conclusion with key takeways\n\n#output\nOnly output the revised outline."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        240,
        -80
      ],
      "id": "cd211a9d-3b7e-465d-aea1-988d21387dc7",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the revised outline: {{ $json.output }}",
        "options": {
          "systemMessage": "#overview\nYou are an expert blog writer.Generate a detailed blog post using the outline with well-structured paragraphs and engaging content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        600,
        -80
      ],
      "id": "2488bc12-cd8d-412d-aa6a-c9bbdb434d0d",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        140
      ],
      "id": "c0ebe547-d52d-4819-b564-d5092fbded2a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UnESzjaBi8iW7Q6V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        140
      ],
      "id": "1b06a937-a5e8-429b-8ea2-294c686469d2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "UnESzjaBi8iW7Q6V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        140
      ],
      "id": "c3ca703f-8834-4bbb-a2f0-bd161f88ade0",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "UnESzjaBi8iW7Q6V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1qo2JYZ0rNi_Epbi0P28enqt9obvkdHwvUTO6x5D_0DA/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1000,
        -80
      ],
      "id": "43ca4e06-eb25-434b-9718-8447d391e95e",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "N8ljNfFTpyboFrOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5a244ff2-7f7b-4bb0-8741-d8b7eed04669",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        -80
      ],
      "id": "cbe7d5b1-ff09-44f2-ac07-8abf0a4cc876",
      "name": "Webhook",
      "webhookId": "5a244ff2-7f7b-4bb0-8741-d8b7eed04669"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1000,
        -240
      ],
      "id": "c0b83a6c-85a4-4489-89ca-c0e4abad2781",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ff269f58-7cbc-43c7-a24b-0d51a6d937ed",
  "triggerCount": 1,
  "tags": []
}