t7cB3L6uvdEluDsT.json
{
  "active": true,
  "connections": {
    "Biography Agent": {
      "main": [
        [
          {
            "node": "Set bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set bio": {
      "main": [
        [
          {
            "node": "Evaluator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Optimizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimizer Agent": {
      "main": [
        [
          {
            "node": "Set bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Optimizer Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Biography Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Biography Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-23T09:48:02.657Z",
  "id": "t7cB3L6uvdEluDsT",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Evaluator optimizer",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70d8684a-48a8-4f4a-a4a4-72386878079e",
              "name": "bio",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        -60
      ],
      "id": "b81f5611-56bf-4c6c-9c1f-8fa9ec29d903",
      "name": "Set bio"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "#overview\nYou are an expert biography writer. You will receive information about a person, and your job is to create an entire profile using the information they give you. You are allowed to be creative.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -140,
        -60
      ],
      "id": "c3adb7ec-8c18-47df-aa0d-6b7549d54e09",
      "name": "Biography Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the biography:\n{{ $json.bio }}",
        "options": {
          "systemMessage": "## Overview\nYou are an expert biography evaluator. Your job is to provide feedback on the biography.\n\n## Criteria\n- Make sure the biography includes a quote from the person. This could be their favorite saying or a piece of advice. It is essential that every biography has a quote.\n- Make sure the biography is light and humorous.\n- Make sure the biography has NO emojis.\n\n## Output\nYou only need to output feedback. If the biography is finished and all the criteria are met, simply output \"Finished\".\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        -60
      ],
      "id": "ca435172-5d75-4c69-b6cc-a9f23dbc4f87",
      "name": "Evaluator Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d085a544-2c8b-4a6f-925f-3afc1eeb6207",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -60
      ],
      "id": "9133d357-bea4-4b47-8fbe-0cb9298b2268",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1qo2JYZ0rNi_Epbi0P28enqt9obvkdHwvUTO6x5D_0DA/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Set bio').item.json.bio }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1240,
        -160
      ],
      "id": "9a9ecd66-dca0-45cc-8b33-038e931e6359",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "N8ljNfFTpyboFrOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Biography: {{ $('Set bio').item.json.bio }}\n\nFeedback: {{ $('Evaluator Agent').item.json.output }}\n",
        "options": {
          "systemMessage": "# Overview\nYou are an expert biography revisor. Your job is to take the biography and optimize it based on the feedback.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1240,
        40
      ],
      "id": "6d636d5f-db77-4c36-a122-3259afd497a1",
      "name": "Optimizer Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        340
      ],
      "id": "3588e809-b039-43fe-8ed2-b1114a0b3e82",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UnESzjaBi8iW7Q6V",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7088b4ce-8f5c-4af7-9fe4-62c78d10432e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        -60
      ],
      "id": "7e8bbd8f-b360-409f-aa00-2795b525dae1",
      "name": "Webhook",
      "webhookId": "7088b4ce-8f5c-4af7-9fe4-62c78d10432e"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1200,
        -300
      ],
      "id": "3def321f-fe8c-4986-9cc1-a89592393a12",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42ef68b8-b262-4277-832c-4be4403b8348",
              "name": "xyz",
              "value": "={{ $('Optimizer Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        -160
      ],
      "id": "a746f215-e9c5-4cdb-81cf-ad2c861535ae",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-23T11:02:27.000Z",
  "versionId": "f5ddf201-ca0b-45b1-ba22-d98af020ac09"
}